:root {
    --body-background-color: #F1F1F1;
    --globale-font-family: Arial, sans-serif;
    --globale-font-wieght: 900;
    --globale-title-color: #084E5B;
    --text-color: #7F7F7F;
    --text-font-size: 18px;
}

html, body {
    margin: 0;
    background: var(--body-background-color);
}