:root {
    --body-background-color: #F1F1F1;
    --globale-font-family: Arial, sans-serif;
    --globale-font-weight: 900;
    --globale-title-color: #084E5B;
    --globale-footer-color: #084E5B;
    --globale-link-color: #084E5B;
    --text-color: #7F7F7F;
    --text-font-size: 14px;
    --link-font-size: 10px;
    --global-border-color: #084E5B;
}

html, body {
    margin: 0;
    background: var(--body-background-color);
}
body::-webkit-scrollbar {
    display: none;
}

/* Style mobile */

.header {
    width: 100%;
}
.header .header-nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
.header .header-nav .header-logo img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}
.header .header-nav .header-link {
    margin-right: 30px;
}
.header .header-nav .header-link a {
    padding-left: 10px;
    color: var(--globale-link-color);
    font-family: var(--globale-font-family);
    font-size: var(--link-font-size);
    text-decoration: none;
}
.header .header-img {
    width: 100%;
    height: 250px;
    background-image: url('../img/header-img.jpg');
    background-size: cover;
}
.header .header-img .title {
    text-transform: uppercase;
    font-weight: var(--globale-font-weight);
    text-align: center;
    font-family: var(--globale-font-family);
    margin: 0;
    color: #FFF;
    font-size: 25px;
    padding-top: 50px;
}
.header .header-img .header-social-link {
    text-align: center;
    padding-top: 10px;
}

.header .header-img .header-social-link a:nth-child(2) {
    padding-left: 10px;
}

.header .header-img .header-social-link a:nth-child(3) {
    padding-left: 10px;
}
.header .header-img .header-social-link a:nth-child(4) {
    padding-left: 10px;
} 

.main .title {
    font-size: 25px;
    color: var(--globale-title-color);
    font-family: var(--globale-font-family);
    font-weight: var(--globale-font-weight);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0%;
    grid-column: 2/3;
    grid-row: 1/2;
}

.main .section-1 {
    display: grid;
    width: auto;
    margin-bottom: 50px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 1fr;
}
.main .blocs {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
}
.main .section-1 .bloc-1 {
    color: var(--text-color);
    width: 80%;
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #EAE8E8;
    box-shadow: 0 0 10px #EAE8E8;
    padding: 25px;
}
.main .section-1 .blocs .bloc-2 {
    padding: 25px;
    width: 80%;
    margin: 50px 0;
    color: var(--text-color);
    border: 1px solid #EAE8E8;
    box-shadow: 0 0 10px #EAE8E8;
}
.main .section-1 .bloc-1 .text .title {
    color: var(--globale-title-color);
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 64px;
}
.main .section-1 .bloc-1 .text {
    font-family: var(--globale-font-family);
    font-size: var(--text-font-size);
}
.main .section-1 .bloc-1 .text hr {
    opacity: .25;
}
.main .section-1 .bloc-1 .link-button {
    text-align: center;
}
.main .section-1 .bloc-1 .link-button button {
    height: 38px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--globale-link-color);
    border: 5px solid var(--globale-link-color);
    border-radius: 25px;
    cursor: pointer;
}

.main .section-1 {
    display: grid;
    width: auto;
    margin-bottom: 50px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 1fr;
}
.main .blocs {
    display: flex;
    width: 100%;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
}
/*
.main .section-1 .bloc-2 {
    color: var(--text-color);
    width: 80%;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2;
}
*/
.main .section-1 .bloc-2 .text .title {
    color: var(--globale-title-color);
    font-size: 20px;
    letter-spacing: 0%;
    line-height: 64px;
}
.main .section-1 .bloc-2 .text {
    font-family: var(--globale-font-family);
    font-size: var(--text-font-size);
}
.main .section-1 .bloc-2 .text hr {
    opacity: .25;
}
.main .section-1 .bloc-2 .link-button {
    text-align: center;
}
.main .section-1 .bloc-2 .link-button button {
    height: 38px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--globale-link-color);
    border: 5px solid var(--globale-link-color);
    border-radius: 25px;
    cursor: pointer;
}


/* Deuxième Section */


.section-2 {
    margin-top: 80px;
}
.section-2 .bloc-content-1 {
    display: grid;
    width: 90%; 
    margin: 0 auto;
}
.bloc-content-1 h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--globale-font-family);
    font-size: var(--text-font-size);
}
.bloc-content-1 button {
    height: 35px; 
    width: 35px;
    border-radius: 25px;
    border: solid 5px var(--global-border-color);
    text-align: center;
    font-weight: var(--globale-font-weight);
    margin-bottom: 10px;
    cursor: pointer;
}
.professionnel {
    height: 125px;
    width: 95%;
    background-size: cover;
    background-image: url("../img/pro.png");
}
.cyber {
    height: 125px;
    width: 95%;
    background-size: cover;
    background-image: url("../img/cyber.jpg");
}
.bloc-content-1 .bloc-img-3, .bloc-img-4 {
   display: none;
}
.bloc-content-2  {
    display: none;
} 


/* Troisième Section */


.main .section-3 {
    display: grid;
    width: auto;
    margin-bottom: 50px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 1fr;
}
.section-3 .blocs {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
}
.section-3 h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--globale-font-family);
    font-size: var(--text-font-size);
}
.rcp {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-image: url("../img/rcp.jpg");
}
.flotteauto {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-image: url("../img/flotte-auto.jpg");
}

.section-3 button {
    height: 50px; 
    width: 50%;
    border-radius: 25px;
    border: solid 5px var(--global-border-color);
    text-align: center;
    font-weight: var(--globale-font-weight);
    margin-bottom: 10px;
    cursor: pointer;
}


/* Quatrième section */


.section-4 .bloc-content-1 {
    width: 90%;
    margin: 0 auto;
    display: grid;
}
.section-4 .bloc-content-1 .fpnc {
    height: 150px;
    width: 95%;
    background-size: cover;
    background-image: url("../img/administration.png");
}
.section-4 .bloc-content-1 .eeg {
    height: 150px;
    width: 95%;
    background-size: cover;
    background-image: url("../img/study.png");
}
.section-4 .bloc-content-1 .bloc-img-3 {
    display: none;
}
.section-4 .bloc-content-1 button {
    height: 35px; 
    width: 35px;
    border-radius: 25px;
    border: solid 5px var(--global-border-color);
    text-align: center;
    font-weight: var(--globale-font-weight);
    margin-bottom: 10px;
    cursor: pointer;
}


/* Cinquième Section */


.section-5 .content {
    width: 100%;
    margin-top: 50px;
    background-color: #1E1E1E;
}
.section-5 .content .img-profile {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../img/profil.png");
}
.section-5 .content .text {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-family: var(--globale-font-family);
    font-weight: 100;
    line-height: 1.4;
    color: var(--text-color);
}
.section-5 .content .text a {
    color: var(--text-color);
    text-decoration: none;
}
.section-5 .content .text a:hover {
    text-decoration: underline;
}


/* Sixième Section */


.section-6 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
}
.section-6 .qrcode {
    text-align: center;
}
.section-6 .qrcode img {
    height: 200px;
    width: 200px;
    background-size: cover;
}
.trustpilot-widget {
    margin-bottom: 0px;
}


/* 7ème Section */

.section-7 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
    background-color: #1E1E1E;
    color: #FFF;
    font-family: var(--globale-font-family);
    border-radius: 25px;
}
.section-7 .text h4 {
    font-family: var(--globale-font-family);
    font-weight: var(--globale-font-weight);
    text-transform: uppercase;
}
.section-7 form input {
    height: 50px;
    width: 85%;
    font-family: var(--globale-font-family);
    padding-left: 25px;
    outline: none;
    border-radius: 25px;
    border: 0;
}
.section-7 form button {
    height: 40px;
    width: 40%;
    background: #FFF;
    border-radius: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: var(--globale-font-family);
}


/* Footer */


.footer .img {
    margin-top: 50px;
    text-align: center;
}
.footer .section-1 {
    display: grid;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% 1fr;
}
.footer .section-1 .blocs {
    display: flex;
    width: 100%;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
    color: var(--globale-footer-color);
    font-family: var(--globale-font-family);
    line-height: 1.4;
    font-size: var(--text-font-size);
}
.footer .infos-entreprise button {
    height: 38px;
    width: 50%;
    outline: none;
    border-radius: 25px;
    border: 3px solid var(--global-border-color);
    box-shadow: 0 0 10px var(--global-border-color);
    color: var(--globale-footer-color);
    font-family: var(--globale-font-family);
    font-size: var(--text-font-size);
}
.footer .section-2 {
    width: 80%;
    margin: 0 auto;
}
.footer .section-2 .footer-social-link{
    display: flex;
    justify-content: space-evenly;
}
.footer .section-3 {
    display: flex;
    padding: 25px 0;
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 8px;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--globale-footer-color);
    font-family: var(--globale-font-family);
    color: #FFF;
}

.footer .section-3 a {
    color: #FFF;
}
