:root {
    --body-background-color: #F1F1F1;
    --globale-font-family: Arial, sans-serif;
    --globale-font-weight: 900;
    --globale-title-color: #084E5B;
    --globale-footer-color: #084E5B;
    --globale-link-color: #084E5B;
    --text-color: #7F7F7F;
    --text-font-size: 14px;
    --link-font-size: 10px;
    --global-border-color: #084E5B;
}

.partenaire  {
    margin-top: 50px;
}
.partenaire .part-1 {
    margin-bottom: 50px;
}
.partenaire .part-1, .part-2 {
    display: flex;
    justify-content: space-evenly;
}
.partenaire .part-1 div, .part-2 div {
    width: 150px;
    height: 150px;
}
.axa {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/partenaires/axa.svg");
}
.generali {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/partenaires/generali.jpg");
    background-size: cover;
}
.mma {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/partenaires/mma.jpg");
    background-size: cover;
}
.hiscox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../img/partenaires/hiscox.png");
    background-color: #FFF;
    background-position: center;
    background-size: cover;
}
.swisslife {
    width: 100%;
    height: 100%;   
    border-radius: 10px;
    background: url("../img/partenaires/swisslife.png"); 
    background-size: cover;
}
.allianz {
    width: 100%;
    height: 100%;   
    border-radius: 10px;
    background: url("../img/partenaires/allianz.jpg"); 
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .partenaire .part-1 div, .part-2 div {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 325px) {
    .partenaire .part-1 div, .part-2 div {
        width: 70px;
        height: 70px;
    }
}