/* Mobile L à Tablet */
.footer .section-2 {
    width: 0;
}
.footer .section-2 .footer-social-link a {
    padding-left: 25px;
}

/* PC L à + */
@media screen and (min-width: 1440px) {
    .section-2 .bloc-content-1 .bloc-img-2 {
        width: 100%;
        height: 100%;
    }
    .section-3 .blocs .bloc-img-1, .blocs .bloc-img-2, .blocs .bloc-img-3, .blocs .bloc-img-4, .blocs .bloc-img-5, .blocs .bloc-img-6, .blocs .bloc-img-7, .blocs .bloc-img-8 {
        width: 60%;
        height: 350px;
        margin-top: 80px;
    }
    .section-2 .bloc-img-2 {
        margin-top: 0;
    }
    .rcp, .sante, .flotteauto, .prevoyance, .automobile, .habitation, .plaisance, .immobilier {
        width: 100%;
        height: 350px;
    }
    .section-4 {
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .section-4 .bloc-content-1 {
        width: 60%;
    }
    /*
    .section-4 .bloc-content-1 .bloc-img-1, .bloc-content-1 .bloc-img-2, .bloc-content-1 .bloc-img-3 {
        height: 350px;
    } */
    .section-4 .bloc-img-1 .fpnc {
        height: 350px;
    }
    .section-4 .bloc-img-2 .eeg {
        height: 350px;
    }
    
    .section-4 .bloc-img-3 .ssm {
        height: 350px;
    }
    .main .blocs {
        margin: 0 auto;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: center;
        gap: 6%;
    }

    .main .section-1 {
        display: grid;
        width: auto;
        margin-bottom: 50px;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 20% 1fr;
      }

      .main .bloc-content-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .section-2 h4 {
        font-size: 10px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
        color: var(--globale-link-color);
    }

    .section-2 .bloc-content-1, .bloc-content-2{
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
    }

    body .main .section-2 div.blocs{
        flex-direction: column;        
    }
    /*
    .bloc-content-1 .bloc-img-1 , .bloc-img-2, .bloc-img-3, .bloc-img-4 {
        display: block !important;
    } */
}

/* PC M à PC L */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .section-2 {
        margin-bottom: 100px;
    }
    .section-2 .bloc-content-1 {
        display: flex; 
        flex-direction: column;
        width: 90%; 
        margin: 0 auto;
    }

    .main .blocs {
        margin: 0 auto;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: baseline;
        gap: 6%;
    }

    .main .section-1 {
        display: grid;
        width: auto;
        margin-bottom: 50px;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 20% 1fr;
      }

    .section-2 .bloc-content-1{
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        flex: 1 1;
    }
/*
    .bloc-content-1 .bloc-img-1 , .bloc-img-2, .bloc-img-3, .bloc-img-4 {
        display: block !important;
        width: 125%;
        height: auto;
      }*/

    .bloc-1, .bloc-2{
        height: 100%;
        width: 50%;
    }

    .section-2 .bloc-content-2 {
        width: 100%;
        margin: 0 auto;
    }
    .main .blocs {
        margin: 0 auto;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: baseline;
    }
    
    
    .section-2 .bloc-content-2 .bloc-img-1 button, .section-2 .bloc-img-2 button, .section-2 .bloc-img-3 button  {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: solid 5px var(--global-border-color);
        text-align: center;
        font-weight: var(--globale-font-weight);
        font-family: var(--globale-font-family);
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .section-2 h4 {
        font-size: 10px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
        color: var(--globale-link-color);
    }

    /* Section n°3 */
    .rcp, .flotteauto {
        height: 350px;
    }
    .section-3 h4 {
        font-size: 18px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-3 button {
        font-size: 18px;
        width: 6%;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    
    /* Section 4 */
    .section-4 .bloc-content-1 {
        width: 80%;
        margin: 0 auto;
    }
    .section-4 .bloc-content-1 h4 {
        font-size: 18px;
        width: 100%;
        text-align: center;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-4 .bloc-content-1 button {
        font-size: 18px;
        width: 50px;
        height: 50px; 
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-4 .bloc-img-1 .fpnc {
        width: 100%;
        height: 350px;
    }
    .section-4 .bloc-img-2 .eeg {
        width: 100%;
        height: 350px;
    }
    .section-4 .bloc-img-3 .ssm {
        height: 350px;
    }
    .section-7 form input {
        font-size: 16px;
    }
    .section-7 form button {
        font-size: 16px;
    }
    .footer .section-3 {
        font-size: 14px;
    }
    .footer .infos-entreprise button {
        font-size: 16px;
    }
    .footer .section-1 .blocs { 
        font-size: 16px;
    }
}

/* Tablet à PC M */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --body-background-color: #F1F1F1;
        --globale-font-family: Arial, sans-serif;
        --globale-font-weight: 900;
        --globale-title-color: #084E5B;
        --globale-footer-color: #084E5B;
        --globale-link-color: #084E5B;
        --text-color: #7F7F7F;
        --text-font-size: 14px;
        --link-font-size: 15px;
        --global-border-color: #084E5B;
    }
    .header .header-nav .header-link a {
        padding-left: 25px;
        color: var(--globale-link-color);
        font-family: var(--globale-font-family);
        font-size: var(--link-font-size);
        text-decoration: none;
    }
    .header .header-img {
        width: 100%;
        height: 350px;
    }
    .header .header-img .title {
        padding-top: 100px;
    }

    /* Section n°2 */
    .section-2 {
        grid-template-rows: 30% 1fr;
    }
    .main .section-2 .bloc-content-1 {
        flex-direction: row;
        justify-content: space-around;
    }
    .section-2 .bloc-content-1 h4 {
        font-size: 14px;
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-2 .bloc-content-1 button {
        height: 50px; 
        width: 50px;
        font-size: 18px;
    }
    
    .professionnel{
        text-align: center;
    }

    .bloc-content-1 .bloc-img-3 {
        display: none;
    }

    /* Section n°3 */
    .main .section-3 {
        margin-bottom: 50px;
    }
    .section-3 .blocs {
        text-align: left;
    }
    .section-3 .bloc-img-1 {
        margin-bottom: 50px;
    }
    .section-3 .text {
        display: flex;
        width: 100%;
        margin-top: 15px;
        justify-content: space-between;
    }
    .rcp {
        height: 250px;
    }
    .flotteauto {
        height: 250px;
    }
    .section-4 .bloc-content-1 .bloc-img-3 {
        display: block;
    }
    .ssm {
        margin-top: 25px;
        height: 125px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/mesure.png");
    }
    
    /* Section n°5 */
    .section-5 {
        width: 100%;
    }
    .section-5 .content {
        width: 100%;
        margin-top: 50px;
        background-color: #1E1E1E;
        flex-direction: row;
        display: flex;
        border-radius: 0;
    }
    .section-5 .content .img {
        height: 425px;
        width: 270px;
        margin-top: 10px;
    }
    .section-5 .content .img-profile {
        height: 100%;
        width: 100%;
        margin-left: 5px;
        background-size: cover;
        background-position: center;
        background-image: url("../img/profil.png");
    }
    .section-5 .content .text {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-family: var(--globale-font-family);
        border: 1px solid #CCC;
        padding: 20px;
        font-weight: 100;
        line-height: 1.4;
        color: var(--text-color);
        margin: 50px;
    }
    .section-5 .content .text a {
        color: var(--text-color);
        text-decoration: none;
    }
    .section-5 .content .text a:hover {
        text-decoration: underline;
    }

    /* Footer */
    .footer.infos-entreprise button {
        width: 35%;
    }
    .footer .section-3 {
        justify-content: center;
    }
    .footer .section-3 span {
        margin-left: 15px;
    }
}

/* Mobile à Tablet */
@media screen and (min-width: 425px) and (max-width: 768px) {   
    :root {
        --body-background-color: #F1F1F1;
        --globale-font-family: Arial, sans-serif;
        --globale-font-weight: 900;
        --globale-title-color: #084E5B;
        --globale-footer-color: #084E5B;
        --globale-link-color: #084E5B;
        --text-color: #7F7F7F;
        --text-font-size: 14px;
        --link-font-size: 11px;
        --global-border-color: #084E5B;
    }
    .header .header-nav .header-link a {
        padding-left: 15px;
        color: var(--globale-link-color);
        font-family: var(--globale-font-family);
        font-size: 15px;
        text-decoration: none;
    }
    .header .header-img {
        width: 100%;
        height: 350px;
    }
    .header .header-img .title {
        padding-top: 100px;
    }
    /* Section n°1 
    .section-1 {
    } */

    /* Section n°2 */
    /* .main .section-2 {
        grid-template-rows: 20% 1fr;
    } */
    .main .section-2 .bloc-content-1 {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .section-2 .bloc-content-1 h4 {
        font-size: 16px;
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-2 .bloc-content-1 button {
        height: 50px; 
        width: 50px;
        font-size: 18px;
    }
    .bloc-content-1 .bloc-img-3, .bloc-img-4 {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .cyber {
        height: 180px;
    }
    .sante {
        height: 180px;
    }
    .prevoyance {
        height: 180px;
    }

    /* Section n°3 */
    .main .section-3 {
        display: grid;
        margin-bottom: 130px;
    }
    .section-3 .blocs {
        text-align: left;
    }
    .section-3 .bloc-img-1 {
        margin-bottom: 50px;
    }
    .section-3 .text {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }
    .rcp {
        height: 250px;
    }
    .flotteauto {
        height: 250px;
    }

    /* Section n°4 */
    
    .section-4 .bloc-content-1 {
        display: grid;
        gap: 6%;
    }
    .section-4 .bloc-content-1 .bloc-img-1 {
        grid-column: 1;
        grid-row: 1;
    }
    .section-4 .bloc-content-1 .bloc-img-2 {
        grid-column: 2;
        grid-row: 1;
    }
    .section-4 .bloc-content-1 .bloc-img-3 {
        display: block;
    }
    .ssm {
        margin-top: 25px;
        height: 125px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/mesure.png");
    }
    
    /* Section n°5 */
    .section-5 {
        width: 100%;
    }
    .section-5 .content {
        width: 100%;
        margin-top: 50px;
        background-color: #1E1E1E;
        flex-direction: column;
        display: flex;
        border-radius: 0;
    }
    .section-5 .content .img {
        height: 425px;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .section-5 .content .img-profile {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../img/profil.png");
        margin-left: 0;
    }
    .section-5 .content .text {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-family: var(--globale-font-family);
        border: 1px solid #CCC;
        padding: 20px;
        font-weight: 100;
        line-height: 1.4;
        color: var(--text-color);
        margin: 20px;
    }
    .section-5 .content .text a {
        color: var(--text-color);
        text-decoration: none;
    }
    .section-5 .content .text a:hover {
        text-decoration: underline;
    }

    /* Section n°7 */
    .section-7 form input {
        width: 60%;
    }
    .section-7 form button {
        width: 25%;
    }

    /* Footer */
    .footer .section-3 {
        justify-content: center;
    }
    .footer .section-3 span {
        margin-left: 15px;
    }
    .footer .partenaires {
        background: #084E5B;
        border-radius: 10px;
        color: #FFF;
        margin-top: 50px;
        font-size: 14px;
        padding: 12.5px 20px;
        display: flex;
        justify-content: space-between;
    }
}

/* Mobile */
@media screen and (max-width: 425px) {
    :root {
        --link-font-size: 10px;
    }
    /* Header */
    .header .header-nav .header-link a {
        padding-left: 10px;
        color: var(--globale-link-color);
        font-family: var(--globale-font-family);
        font-size: var(--link-font-size);
        text-decoration: none;
    }
    
    /* Section n°5 */
    .section-5 {
        width: 100%;
    }
    .section-5 .content {
        width: 100%;
        margin-top: 50px;
        background-color: #1E1E1E;
        flex-direction: column;
        display: flex;
        border-radius: 0;
    }
    .section-5 .content .img {
        height: 425px;
        width: 100%;
        padding: 0;
    }
    .section-5 .content .img-profile {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url("../img/profil.png");
        margin-left: 0;
    }
    .section-5 .content .text {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-family: var(--globale-font-family);
        border: 1px solid #CCC;
        padding: 20px;
        font-weight: 100;
        line-height: 1.4;
        color: var(--text-color);
        margin: 20px;
    }
    .section-5 .content .text a {
        color: var(--text-color);
        text-decoration: none;
    }
    .section-5 .content .text a:hover {
        text-decoration: underline;
    }

    .footer .partenaires {
        background: #084E5B;
        border-radius: 10px;
        color: #FFF;
        margin-top: 50px;
        font-size: 10px;
        padding: 12.5px 20px;
        display: flex;
        justify-content: space-between;
    }
}

/* HAMBURGER */
@media screen and (min-width: 769px) {
    .hamburger-icon, #menu-toggle {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .header .header-nav .header-link {
        margin: 0;
    }
    .navbar .links {
        display: none;
        font-size: 16px;
    }
    .hamburger-icon {
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .hamburger-icon + .links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        box-shadow: 0px 10px 9px -6px #6e6e6e;
        background-color: #FFF;
        padding: 10px;
        width: 30%;
    }
    .centerLink, .button-links{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
    }
    .header .navbar .links :nth-child(2){
        padding-left : 0 0 0 0; 
    }
    a {
        padding: 10px 0;
    }
    .header .header-nav .header-link a:hover {
        background: #084E5B;
        color: #FFF;
        border-radius: 25px;
    }

    .button-links{
        padding: 0;
        margin: 0;
    }

    .menu-toggle:checked + .button-links{
        display: none;
        visibility: hidden;
    }

    .partenaires img {
        margin-left: 25px;
    }
}
@media screen and (max-width: 425px) {
    .header .header-nav .header-link a {
        font-size: 14px;
    }
    .header .header-img .title {
        font-size: 20px;
    }
    .partenaires img {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin-left: 25px;
    }
}