/* Mobile L à Tablet */
@media screen and (min-width: 425px) and (max-width: 768px) {
    :root {
        --body-background-color: #F1F1F1;
        --globale-font-family: Arial, sans-serif;
        --globale-font-weight: 900;
        --globale-title-color: #084E5B;
        --globale-footer-color: #084E5B;
        --globale-link-color: #084E5B;
        --text-color: #7F7F7F;
        --text-font-size: 14px;
        --link-font-size: 15px;
        --global-border-color: #084E5B;
    }
    .header .header-nav .header-link a {
        padding-left: 25px;
        color: var(--globale-link-color);
        font-family: var(--globale-font-family);
        font-size: var(--link-font-size);
        text-decoration: none;
    }
    .header .header-img {
        width: 100%;
        height: 350px;
    }
    .header .header-img .title {
        padding-top: 100px;
    }
    /* Section n°1 */
    .section-1 {
    }

    /* Section n°2 */
    .main .section-2 .bloc-content-1 {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }
    .section-2 .bloc-content-1 h4 {
        font-size: 18px;
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-2 .bloc-content-1 button {
        height: 50px; 
        width: 50px;
        font-size: 18px;
    }
    .section-2 .bloc-content-1 .bloc-img-1 {
        grid-column: 1;
        grid-row: 1;
        margin-right: 10px;
    }
    .section-2 .bloc-content-1 .bloc-img-2 {
        grid-column: 2;
        grid-row: 1;
    }
    .section-2 .bloc-content-1 .bloc-img-3 {
        grid-column: 1;
        grid-row: 2;
        margin-right: 10px;
    }
    .section-2 .bloc-content-1 .bloc-img-4 {
        grid-column: 2;
        grid-row: 2;
    }
    .bloc-content-1 .bloc-img-3, .bloc-img-4 {
        display: block;
    }
    .professionnel {
        height: 250px;
        width: 100%;
    }
    .cyber {
        height: 250px;
        width: 100%;
    }
    .sante {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/sante.png");
    }
    .prevoyance {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/prevoyance.png");
    }

    /* Section n°3 */
    .main .section-3 {
        display: grid;
        margin-bottom: 130px;
    }
    .section-3 .blocs {
        text-align: left;
    }
    .section-3 .bloc-img-1 {
        margin-bottom: 50px;
    }
    .section-3 .text {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }
    .rcp {
        height: 250px;
    }
    .flotteauto {
        height: 250px;
    }

    /* Section n°4 */
    .section-4 .bloc-content-1 {
        display: grid;
    }
    .section-4 .bloc-content-1 .bloc-img-1 {
        grid-column: 1;
        grid-row: 1;
    }
    .section-4 .bloc-content-1 .bloc-img-2 {
        grid-column: 2;
        grid-row: 1;
    }
    .section-4 .bloc-content-1 .bloc-img-3 {
        display: block;
    }
    .ssm {
        margin-top: 25px;
        height: 125px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/mesure.png");
    }
    
    /* Section n°5 */
    .section-5 {
        width: 80%;
        margin: 0 auto;
    }
    .section-5 .content {
        border-radius: 25px;
    }
    .section-5 .content .img-profile {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 545px;
    }

    /* Section n°7 */
    .section-7 form input {
        width: 60%;
    }
    .section-7 form button {
        width: 25%;
    }

    /* Footer */
    .footer .section-3 {
        justify-content: center;
    }
    .footer .section-3 span {
        margin-left: 15px;
    }
}

/* Tablet à PC M */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --body-background-color: #F1F1F1;
        --globale-font-family: Arial, sans-serif;
        --globale-font-weight: 900;
        --globale-title-color: #084E5B;
        --globale-footer-color: #084E5B;
        --globale-link-color: #084E5B;
        --text-color: #7F7F7F;
        --text-font-size: 14px;
        --link-font-size: 15px;
        --global-border-color: #084E5B;
    }
    .header .header-nav .header-link a {
        padding-left: 25px;
        color: var(--globale-link-color);
        font-family: var(--globale-font-family);
        font-size: var(--link-font-size);
        text-decoration: none;
    }
    .header .header-img {
        width: 100%;
        height: 350px;
    }
    .header .header-img .title {
        padding-top: 100px;
    }

    /* Section n°2 */
    .main .section-2 .bloc-content-1 {
        display: grid;
        width: 90%;
        margin: 0 auto;
    }
    .section-2 .bloc-content-1 h4 {
        font-size: 18px;
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-2 .bloc-content-1 button {
        height: 50px; 
        width: 50px;
        font-size: 18px;
    }

    .bloc-content-1 .bloc-img-3, .bloc-img-4 {
        display: block;
    }
    .professionnel {
        height: 250px;
        width: 100%;
    }
    .cyber {
        height: 250px;
        width: 100%;
    }
    .sante {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/sante.png");
    }
    .prevoyance {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/prevoyance.png");
    }
    

    /* Section n°3 */
    .main .section-3 {
        display: grid;
        margin-bottom: 130px;
    }
    .section-3 .blocs {
        text-align: left;
    }
    .section-3 .bloc-img-1 {
        margin-bottom: 50px;
    }
    .section-3 .text {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
    }
    .rcp {
        height: 250px;
    }
    .flotteauto {
        height: 250px;
    }

    .section-4 .bloc-content-1 .bloc-img-3 {
        display: block;
    }
    .ssm {
        margin-top: 25px;
        height: 125px;
        width: 100%;
        background-size: cover;
        background-image: url("../img/mesure.png");
    }
    
    /* Section n°5 */
    .section-5 {
        width: 80%;
        margin: 0 auto;
    }
    .section-5 .content {
        border-radius: 25px;
    }
    .section-5 .content .img-profile {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 545px;
    }

    /* Section n°7 */
    .section-7 form input {
        width: 60%;
    }
    .section-7 form button {
        width: 25%;
    }

    /* Footer */
    .footer .section-3 {
        justify-content: center;
    }
    .footer .section-3 span {
        margin-left: 15px;
    }
}

/* PC M à PC L */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .section-2 {
        margin-bottom: 100px;
    }
    .section-2 .bloc-content-1 {
        display: grid;
        width: 90%; 
        margin: 0 auto;
    }

    .main .blocs {
        margin: 0 auto;
        width: 100%;
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: baseline;
        gap: 6%;
    }

    .bloc-1, .bloc-2{
        height: 100%;
        width: 50%;
    }

    .section-2 .bloc-content-1 .bloc-img-1 {
        grid-row: 1;
        grid-column: 2;
        margin-left: 10px;
    }
    .section-2 .bloc-img-4 {
        margin-left: 25px;
    }
    .section-2 .bloc-content-2 {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 5% 1fr;
        width: 100%;
        margin: 0 auto;
    }
    .main .blocs {
        margin: 0 auto;
        width: 100%;
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row !important;
        align-items: baseline;
    }
    .automobile {
        height: 250px;
        width: 100%;
        background-position: center;
        background: url("../img/automobile.jpg");
    }
    .habitation {
        height: 250px;
        width: 100%;
        background: url("../img/habitation.jpg");
    }
    .plaisance {
        height: 250px;
        width: 100%;
        background: url("../img/port.jpg");
    }
    .section-2 .bloc-content-2 .bloc-img-1 button, .section-2 .bloc-img-2 button, .section-2 .bloc-img-3 button  {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: solid 5px var(--global-border-color);
        text-align: center;
        font-weight: var(--globale-font-weight);
        font-family: var(--globale-font-family);
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .section-2 h4 {
        font-size: 18px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }

    /* Section n°3 */
    .rcp, .flotteauto {
        height: 350px;
    }
    .section-3 h4 {
        font-size: 18px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-3 button {
        font-size: 18px;
        width: 40%;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    
    /* Section 4 */
    .section-4 .bloc-content-1 {
        width: 80%;
        margin: 0 auto;
    }
    .section-4 .bloc-content-1 h4 {
        font-size: 18px;
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-4 .bloc-content-1 button {
        font-size: 18px;
        width: 50px;
        height: 50px; 
        font-family: var(--globale-font-family);
        font-weight: var(--globale-font-weight);
        text-transform: uppercase;
    }
    .section-4 .bloc-img-1 .fpnc {
        width: 100%;
        height: 350px;
    }
    .section-4 .bloc-img-2 .eeg {
        width: 100%;
        height: 350px;
    }
    .section-4 .bloc-img-3 .ssm {
        height: 350px;
    }
    .section-7 form input {
        font-size: 16px;
    }
    .section-7 form button {
        font-size: 16px;
    }
    .footer .section-3 {
        font-size: 14px;
    }
    .footer .infos-entreprise button {
        font-size: 16px;
    }
    .footer .section-1 .blocs { 
        font-size: 16px;
    }
}

/* PC L à + */
@media screen and (min-width: 1440px) {

    .main .blocs {
        margin: 0 auto;
        width: 100%;
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: baseline;
        gap: 6%;
    }
}